---
import Layout from '../layouts/Layout.astro';
import Todo from '../components/Todo.astro';
---

<Layout title="Astro + Turso Todo">
	<main>
		<Todo />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 1rem;
	}
</style>