---
import { pwaInfo } from 'virtual:pwa-info';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    </head>
    <body>
        <slot />

        <script>
            import { registerSW } from 'virtual:pwa-register';

            registerSW({
                immediate: true,
                onNeedRefresh() {
                    console.log('New content available. Reload to update.');
                },
                onOfflineReady() {
                    console.log('App is ready to work offline.');
                },
            });
        </script>
    </body>
</html>

<style is:global>
    /* Global Reset */
    html, body {
        font-family: system-ui, sans-serif;
        background: #13151a;
        margin: 0;
        padding: 0;
    }
</style>